<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789192223325-7hbq575sjcijrrag5g801p38t2mn4j7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789192223325-7hbq575sjcijrrag5g801p38t2mn4j7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBPUGlm7sU--i04IVo679jIafHRsbZbVlM</string>
	<key>GCM_SENDER_ID</key>
	<string>789192223325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrukTiK.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tictac-77184</string>
	<key>STORAGE_BUCKET</key>
	<string>tictac-77184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789192223325:ios:95996bc291d010c9cafbb4</string>
</dict>
</plist>